<ion-header>
  <ion-toolbar text-center color="dark">
    <ion-title>
      Optical Character Recognition 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-button expand="block"  color="primary">
        <ion-icon md="ios-paper" style="color:white;margin-right:10px" ></ion-icon>
        View Notes
      </ion-button>
 
      <ion-button expand="block"  color="success" (click)="chooseImage()">
          <ion-icon md="ios-images" style="color:white;margin-right:10px" ></ion-icon>
          Select Image
        </ion-button>

        <ion-button expand="block"  color="danger" (tap)="recog();"  [disabled]="!selectedImage" >
            <ion-icon md="ios-barcode"  style="color:white;margin-right:10px" ></ion-icon>
            Recognize Text
          </ion-button>

          <ion-row  >
            <ion-button  (click)="createFile();" *ngIf="imageText">
                <ion-icon md="md-document" style="margin-right:10px"></ion-icon> Save As Pdf
              </ion-button>
        </ion-row>
         <ion-row >
            <ion-button  (click)="saveDoc();" *ngIf="imageText">
                <ion-icon md="md-document" style="margin-right:10px"></ion-icon> Save As Doc
              </ion-button>
        </ion-row>

    
  <img [src]="selectedImage" *ngIf="selectedImage">
  <ion-card text-center *ngIf="imageText">
    <ion-card-header>
      Text Result
    </ion-card-header>
  
    <ion-card-content> {{imageText}} </ion-card-content>
    
  </ion-card>
  </ion-content>
 
  